@model IslamDewsburyWebsite.Models.DonateViewModel

@{
    ViewBag.Title = "Donate";
}

@using (Html.BeginForm("PaymentWithPaypal", "Paypal", FormMethod.Post))
{
    <div class="box">
        <h3>
            <i>
                @switch (Model.Donation.PaymentType)
                {
                    case IslamDewsburyWebsite.Models.PaymentType.OneOff:
                        <text>One-off donation</text>
                        break;
                    case IslamDewsburyWebsite.Models.PaymentType.Monthly:
                        <text>Monthly Direct Debit setup</text>
                        break;
                    case IslamDewsburyWebsite.Models.PaymentType.RamadanTenNights:
                        <text>Laylatul Qadr - <b>The Night of Power</b></text>
                        break;
                    case IslamDewsburyWebsite.Models.PaymentType.DhulHijjahTenDays:
                        <text>Dhul Hijjah - <b>The Ten Days</b></text>
                        break;
                }
            </i>
        </h3>
        <hr />
        <p>
            Assalamualaikum
        </p>
        @switch (Model.Donation.PaymentType)
        {
            case IslamDewsburyWebsite.Models.PaymentType.OneOff:
                <p>
                    Your Masjid needs you now more than ever in these current circumstances! As you already know, we are currently losing on average £500 a week
                    through Jummah collections, general donations and Masjid boxes. We have approximately £3,500 a month of running costs for the masjid.
                </p>
                <p>
                    Please contribute generously. The Prophet Muhammad ﷺ said: “Allah said: ‘Spend, O son of Adam, and I shall spend on you.”
                </p>
                break;
            case IslamDewsburyWebsite.Models.PaymentType.Monthly:
                <p>
                    Your Masjid needs you now more than ever in these current circumstances! As you already know, we are currently losing on average £500 a week
                    through Jummah collections, general donations and Masjid boxes. We have approximately £3,500 a month of running costs for the masjid.
                </p>
                <p>
                    We <b>urgently</b> need brothers and sisters to setup a monthly Direct Debit to help the Masjid. Something as little as 67p a day will
                    add up to £20 a month.
                </p>
                <p>
                    <b>The Masjid may be closed but let’s ensure our hearts don’t do the same.</b>
                </p>
                break;
            case IslamDewsburyWebsite.Models.PaymentType.RamadanTenNights:
                <p>
                    The odd nights in the last 10 days of Ramadhan are upon us in sha Allah. Allah SWT tells us in Surah Qadr than The Night of Power
                    is better than <i>one thousand months</i> (97:3)
                </p>
                <p>
                    Islam Dewsbury has setup an amazing opportunity for you to automate your donations to the masjid on every day of the last 10 nights so you will
                    not miss the reward of donating on the night of Laylatul Qadr.
                </p>
                <p>
                    Simply set the amount you would like to donate for each of the last 10 nights.
                </p>
                break;
            case IslamDewsburyWebsite.Models.PaymentType.DhulHijjahTenDays:
                <p>
                    The first 10 days of Dhul Hijjah are upon us in sha Allah. Just like the last ten nights of Ramadan, these ten days are packed with opportunities to earn reward.
                </p>
                <p>
                    <b>The Prophet (saw) said, ‘There are no days in which righteous deeds are more beloved to Allah than in these (ten) days’. [Abu Dawud]</b>
                </p>
                <p>
                    Islam Dewsbury has setup an amazing opportunity for you to automate your donations to the masjid on every day of these 10 days so you will
                    not miss the reward of donating on on any given day.
                </p>
                <p>
                    Simply set the amount you would like to donate for each of the these 10 days.
                </p>
                break;
        }

        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col col-sm-3">
                <label class="labelSetting">Donation Amount (£)<span class="required">*</span></label>
            </div>
            <div class="col col-sm-9">
                <span onfocusout="CalculateProcessingAndTotalAmounts();" style="margin-right:35px;">
                    @Html.TextBoxFor(x => x.Donation.InitialAmount, new { @class = "textBoxSetting", style = "width:100px;" })
                    @Html.ValidationMessageFor(x => x.Donation.InitialAmount, "", new { @class = "text-danger" })
                </span>

                <select id="setDonationAmounts" name="setDonationAmounts" class="textBoxSetting"
                        onchange="UpdateAmount(this.options[this.selectedIndex].value)">
                    <option value="5.00" selected="selected">Select a custom amount</option>
                    <option value="5.00">Donate £5</option>
                    <option value="10.00">Donate £10</option>
                    <option value="20.00">Donate £20</option>
                    <option value="50.00">Donate £50</option>
                    <option value="100.00">Donate £100</option>
                </select>

                @switch (Model.Donation.PaymentType)
                {
                    case IslamDewsburyWebsite.Models.PaymentType.OneOff:
                        <text> one-off </text>
                        break;
                    case IslamDewsburyWebsite.Models.PaymentType.Monthly:
                        <text> monthly </text>
                        break;
                    case IslamDewsburyWebsite.Models.PaymentType.RamadanTenNights:
                        <text> every day </text>
                        break;
                    case IslamDewsburyWebsite.Models.PaymentType.DhulHijjahTenDays:
                        <text> every day </text>
                        break;
                }
            </div>
        </div>

        <hr />
        <h4 class="marginBottom">Personal Info</h4>

        <div class="row">
            <div class="col col-sm-3">
                <label class="labelSetting">Name<span class="required">*</span></label>
            </div>
            <div class="col col-sm-2">
                @Html.DropDownListFor(m => m.Donator.Title,
                    new SelectList(Enum.GetValues(typeof(IslamDewsburyWebsite.Models.Title))),
                    "Select Title",
                    new { @class = "textBoxSetting" })
            </div>
            <div class="col col-sm-3">
                @Html.TextBoxFor(x => x.Donator.FirstName, new { placeholder = "First Name", style = "margin-right:20px", @class = "textBoxSetting" })
            </div>
            <div class="col col-sm-4">
                @Html.TextBoxFor(x => x.Donator.LastName, new { placeholder = "Last Name", @class = "textBoxSetting" })
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-offset-5 col-sm-3">
                @Html.ValidationMessageFor(x => x.Donator.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col col-sm-4">
                @Html.ValidationMessageFor(x => x.Donator.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-3">
                <label class="labelSetting">Company Name</label>
            </div>
            <div class="col col-sm-7">
                @Html.TextBoxFor(x => x.Donator.CompanyName, new { placeholder = "Company Name", @class = "textBoxSetting" })
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-3">
                <label class="labelSetting">Contact Details<span class="required">*</span></label>
            </div>
            <div class="col col-sm-3">
                @Html.TextBoxFor(x => x.Donator.EmailAddress, new { placeholder = "Email Address", @class = "textBoxSetting" })
            </div>
            <div class="col col-sm-3">
                @Html.TextBoxFor(x => x.Donator.ContactNo, new { placeholder = "Contact Number", @class = "textBoxSetting" })
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-offset-3 col-sm-3">
                @Html.ValidationMessageFor(x => x.Donator.EmailAddress, "", new { @class = "text-danger" })
            </div>
            <div class="col col-sm-3">
                @Html.ValidationMessageFor(x => x.Donator.ContactNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        <h4 class="marginBottom">Billing details</h4>
        <div class="row">
            <div class="col col-sm-3">
                <label class="labelSetting">Address Line<span class="required">*</span></label>
            </div>
            <div class="col col-sm-3">
                @Html.TextBoxFor(x => x.Donator.AddressLine1, new { placeholder = "Address Line 1", @class = "textBoxSetting" })
            </div>
            <div class="col col-sm-3">
                @Html.TextBoxFor(x => x.Donator.AddressLine2, new { placeholder = "Address Line 2", @class = "textBoxSetting" })
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-offset-3 col-sm-3">
                @Html.ValidationMessageFor(x => x.Donator.AddressLine1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-3">
                <label class="labelSetting">City</label>
            </div>
            <div class="col col-sm-4">
                @Html.TextBoxFor(x => x.Donator.City, new { placeholder = "City", @class = "textBoxSetting" })
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-3">
                <label class="labelSetting">Country<span class="required">*</span></label>
            </div>
            <div class="col col-sm-4">
                @Html.TextBoxFor(x => x.Donator.Country, new { placeholder = "Country", style = "margin-right:20px", @class = "textBoxSetting" })
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-3">
                <label class="labelSetting">Postcode<span class="required">*</span></label>
            </div>
            <div class="col col-sm-4">
                @Html.TextBoxFor(x => x.Donator.PostCode, new { placeholder = "Zip/Postal code", @class = "textBoxSetting" })
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-offset-3 col-sm-3">
                @Html.ValidationMessageFor(x => x.Donator.PostCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <h4 class="marginBottom">Reclaim Gift Aid</h4>
        <div>
            Would you like to <i>add</i> 25% to your donation without any cost to you? A Gift Aid declaration will allow Islam Dewsbury to claim tax back on
            any donations that are eligible for it. That means, for every £1 you donate, we can increase that donation to £1.25.
        </div>
        <br />
        <div class="row">
            <div class="col col-sm-8">
                @Html.CheckBoxFor(x => x.Donation.ClaimGiftAid) Yes - I am a UK taxpayer and would like to Gift Aid my donations now and in future.
                I understand I must pay enough income tax and/or capital gains tax each tax year to cover the amount of Gift Aid that all charities and
                community amateur sports clubs claim on my donations in that tax year, and I am responsible for paying any difference.
                <br />
                Please remember to let us know if your tax status, name or address change or if you wish to cancel your Gift Aid declaration.
            </div>
            <div class="col col-sm-4">
                <img src="~/Content/Images/GiftAid.png" width="200" height="200" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col col-sm-12">
                <h4 class="marginBottom">Processing Fees</h4>
                @Html.CheckBoxFor(x => x.Donation.CoveringProcessingFee, new { @onchange = "CalculateProcessingAndTotalAmounts();" }) Yes - I would like to cover the
                <b>£</b><label>@Html.TextBoxFor(item => item.Donation.ProcessingFee, new { style = "border: 0px none" })</label>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col col-sm-offset-4 col-sm-5">
                <span class="marginBottom" style="margin-right:5px; font-size:20px;"><b>Total Donation (£)</b></span>
                @Html.TextBoxFor(x => x.Donation.FinalAmount, new { @readonly = "readonly", @class = "textBoxSetting", style = "width:150px;" })

                <div>
                    @switch (Model.Donation.PaymentType)
                    {
                        case IslamDewsburyWebsite.Models.PaymentType.OneOff:
                            <text> (one-off) </text>
                            break;
                        case IslamDewsburyWebsite.Models.PaymentType.Monthly:
                            <text> (monthly) </text>
                            break;
                        case IslamDewsburyWebsite.Models.PaymentType.RamadanTenNights:
                            <text> (every day) </text>
                            break;
                        case IslamDewsburyWebsite.Models.PaymentType.DhulHijjahTenDays:
                            <text> (every day) </text>
                            break;
                    }
                </div>
            </div>
            <div class="col col-sm-offset-1 col-sm-2">
                @Html.HiddenFor(x => x.Donation.PaymentType)
                <button type="submit" class="btn btn-default" style="background-color: peru; font-size:30px; height:50px;">Donate</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function UpdateAmount(dropdownObjValue) {
        document.getElementById("Donation_InitialAmount").value = dropdownObjValue;
        CalculateProcessingAndTotalAmounts();
    };

    function CalculateProcessingAndTotalAmounts() {
        var initialFee = document.getElementById("Donation_InitialAmount").value;

        var regexCurrency = /^[1-9]\d*(((,\d{3}){1})?(\.\d{0,2})?)$/;
        if (!regexCurrency.test(initialFee)) {
            document.getElementById("Donation_InitialAmount").value = initialFee = '5.00';
            alert("Please enter a valid currency");
        }

        var processingFee = (initialFee * 0.014) + 0.20;
        var processingFeeCurrency = Math.round(processingFee * 100) / 100;
        document.getElementById("Donation_ProcessingFee").value = processingFeeCurrency.toFixed(2);

        var processingFeeCovered = document.getElementById("Donation_CoveringProcessingFee").checked;

        document.getElementById("Donation_FinalAmount").value
            = (((initialFee * 100) + (processingFeeCovered ? processingFeeCurrency * 100 : 0)) / 100).toFixed(2);
    }

    CalculateProcessingAndTotalAmounts();

</script>
